body {
    /* set background image for body (and consequently, it's children) */
    background: url('../images/pic.jpg') repeat 0 0;
    background-color: #cccccc;

    /*repeat image vertically, because it looks nice :)*/
    background-repeat: repeat-y;
    /*
    If we wanted to have no-repeat value above,
    we would have used background-size (the width and height) and we should have set them to 100%

    I tried that too, but due to the specifications of this particular image,
    the vertical repeat looks way better than forcefully covering any browser size(and needlessly zooming in some cases)

    Therefore, As this project is also meant to be an exam,
    In this comment I explained the other way to fill the screen without repeating the image.
    */

    background-size: cover;

    margin: 0px;
}

/*this is the semi-transparent box's styling*/
.grid-container {
	/*-----Grid-----*/
    /*use grid layout for the container*/
    display: grid;
    /*the grid has two columns, but the proposition is auto*/
    grid-template-columns: auto auto; 
    /*there is 10px gap between columns*/
    grid-column-gap: 10px;

    /*-----Container Positioning-----*/
    text-align: center;

    /*  source: https://stackoverflow.com/a/50925544   */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    /*background transparency set to 0.86 (less values made it hard to read)*/
    background-color: rgba(230, 238, 255, 0.86);

    /*border is drawn, and the edges are a bit rounded.*/
    border: 2.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}

/*Inside the grid-containers, there are multiple grid-items.*/
.grid-item {
    /*some specifications for all objects that are from grid-item class are added below (of course, if not overwritten)
    Including: round edges, a bit stronger font (a bit bolder), some padding from the borders (the bottom one is less),
    a text font-size and left-oriented alignment */
    border-radius: 25px;
    font-weight: 700;
    padding: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: left;
}

/*This class was specifically used for the headings of different parts which they had tag <p> (not h1 to h6)
and therefore needed some modifications*/
.Head-title{
    margin-top: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

/*For every object with <p> tag, we set the margin to 10px.
of course, some of them like those of Head-title class might have this value overwritten*/
p {
    margin:10px;
}

/*In order to add dashed border for the saved answer box, we use it's ID to add the dashed-gray border
and also as we have added a border, adding a padding makes it look nicer!*/
#saved{
    border: 3px dashed slategray;
    padding: 10px;

}

/*
mostly:    source: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3
in the three following blocks, we make a simple animated button.
The first block is for the button class default attributes.
The second if for when the cursor is hovered over the button, but not clicked or held.
The third block is when the button has been activated, meaning it is in a clicked, held or similar state.
*/
.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(77, 121, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button:hover {
    background-color: rgba(51, 102, 255)
}

.button:active {
  background-color: rgb(26, 83, 255);
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}


/*This block is specifically meant for the pop-up message which is shown mostly in cases of error.
it's visibility is completely handled by the scripts to avoid confusion if handling it from two different parts.
As some messages might be long, a max-width is set for this red box with slightly-rounded-edges.*/
#pop-up-message{
    max-width: 400px;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 1);
    color: white;
    border-radius: 25px;
    text-align: center;
}
